@page "/"
@using SharedLib

<PageTitle>Home</PageTitle>

<h1>Edit person - Blazor WebAssembly</h1>

<p>Current name: @_person.FirstName</p>
<input @bind="_person.FirstName" placeholder="Edit first name"/>
<button @onclick="UpdateName">Save</button>

@code {
    private static Person _person = new() { FirstName = "John" };

    private void UpdateName()
    {
        Console.WriteLine($"Saved: {_person.FirstName}");
    }
}